go 1.20

use (
	.
	./cmd/leo
	./config/decoder
	./config/resource/env
	./config/resource/file
	./config/resource/nacosv2
	./config/resource/passthrough
	./config/resource/text
	./internal/gox
	./log/slog
	./log/zaplog
	./middleware/ginhttp/context
	./middleware/ginhttp/cors
	./middleware/ginhttp/log
	./middleware/ginhttp/metric
	./middleware/ginhttp/ratelimiter
	./middleware/ginhttp/recovery
	./middleware/ginhttp/requestid
	./middleware/ginhttp/sentinelguard
	./middleware/ginhttp/sentry
	./middleware/ginhttp/trace
	./middleware/lgrpc/auth
	./middleware/lgrpc/context
	./middleware/lgrpc/errstatus
	./middleware/lgrpc/hystrixbreaker
	./middleware/lgrpc/log
	./middleware/lgrpc/metric
	./middleware/lgrpc/noop
	./middleware/lgrpc/ratelimiter
	./middleware/lgrpc/recovery
	./middleware/lgrpc/requestid
	./middleware/lgrpc/sentinelguard
	./middleware/lgrpc/sonybreaker
	./middleware/lgrpc/trace
	./middleware/lgrpc/validator
	./registry/nacosv2
	./schedule/cron
	./stream/kafka
	./transport/ginhttp
	./transport/lgrpc
)
