//go:build wireinject
// +build wireinject

// The build tag makes sure the stub is not built in the final build.
// path: {{ .WireFilePath }}
package main

import (
    "codeup.aliyun.com/qimao/leo/leo"
	"context"
	"github.com/google/wire"
    "{{ .ModuleName }}/pkg"
	"{{ .ModuleName }}/internal/{{ .AppPath }}"
)

var Provider = wire.NewSet(
	{{ .AppBaseName }}.Provider,
	pkg.Provider,
)

func NewApp(
	ctx context.Context,
) (*leo.App, error) {
	wire.Build(Provider, newApp)
	return nil, nil
}
