package {{ .Package }}

import (
	"github.com/google/wire"

	"{{ .ModuleName }}/internal/{{ .AppPath }}/{{ .Package }}/converter"
	"{{ .ModuleName }}/internal/{{ .AppPath }}/{{ .Package }}/client"
	"{{ .ModuleName }}/internal/{{ .AppPath }}/{{ .Package }}/publisher"
	"{{ .ModuleName }}/internal/{{ .AppPath }}/{{ .Package }}/repository"
)

var Provider = wire.NewSet(
	converter.Provider,
	client.Provider,
	publisher.Provider,
	repository.Provider,
)
