package {{ .Package }}

import (
	"github.com/google/wire"

	"{{ .ModuleName }}/internal/{{ .AppPath }}/{{ .Package }}/converter"
	"{{ .ModuleName }}/internal/{{ .AppPath }}/{{ .Package }}/adapter"
)

var Provider = wire.NewSet(
	converter.Provider,
	adapter.Provider,
)
