package {{ .Package }}

import (
	"codeup.aliyun.com/qimao/leo/leo/registry/nacosv2"
	"{{ .ModuleName }}/pkg/nacosx"
)

func NewNacosDiscovery(conf *nacosx.Config) (*nacosv2.Discovery, error) {
	return nacosv2.NewDiscovery(nacosx.RegistryClientFactory(conf))
}

func NewNacosRegistrar(conf *nacosx.Config) (*nacosv2.Registrar, error) {
	return nacosv2.NewRegistrar(nacosx.RegistryClientFactory(conf))
}
