package {{ .Package }}

import (
	"github.com/google/wire"
)

var Provider = wire.NewSet(
    Env,
    Nacos,
	HttpController,
	RPCProvider,
	RPCConsumer,
	Actuator,
	Kafka,
    AMQP,
    Trace,
    Metric,
)
