package {{ .Package }}

import (
	"github.com/google/wire"
	"{{ .ModuleName }}/pkg/configx"
	"{{ .ModuleName }}/pkg/grpcx"
	"{{ .ModuleName }}/pkg/mysqlx"
	"{{ .ModuleName }}/pkg/redisx"
	"{{ .ModuleName }}/pkg/streamx"
	"{{ .ModuleName }}/pkg/otelx"
	"{{ .ModuleName }}/pkg/registryx"
)

var Provider = wire.NewSet(
	configx.Provider,
	grpcx.Provider,
	mysqlx.Provider,
	redisx.Provider,
	streamx.Provider,
	otelx.Provider,
	registryx.Provider,
)
